#about {
  scroll-margin: 20px;
}
.SliderComputer {
  padding: 0 36px;
}
.SliderComputer .swiper {
  display: flex;
  flex-direction: column;
  padding: 0 63px;
  align-items: center;
  --swiper-pagination-color: #EED9C5;
  --swiper-navigation-color: #EED9C5;
}
.SliderComputer .swiper-slide {
  display: flex;
  column-gap: 30px;
}
.SliderComputer .swiper-slide img {
  width: 200px;
  height: 200px;
}
.SliderComputer .swiper-wrapper {
  padding-bottom: 39px;
}
.SliderComputer .swiper-slide .Desc h2 {
  font-family: "Lovelace";
  font-size: 36px;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  color: #000;
  margin-bottom: 15px;
}
.SliderComputer .swiper-slide .Desc p {
  font-family: "Montserrat";
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  color: #000;
}
.SliderMobile .swiper {
  padding: 43px 26px !important;
  --swiper-pagination-color: #EED9C5;
}
.SliderMobile .swiper .swiper-slide {
  display: flex;
  justify-content: center;
  gap: 20px;
}
@media (max-device-width: 765px) {
  .SliderMobile .swiper .swiper-slide {
    flex-direction: column;
  }
  .SliderMobile .swiper .swiper-slide img {
    width: 100%;
    height: auto;
  }
}
.SliderMobile .swiper .swiper-slide .Desc h2 {
  font-family: "Lovelace";
  font-size: 36px;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  color: #000;
  margin-bottom: 15px;
}
.SliderMobile .swiper .swiper-slide .Desc p {
  font-family: "Montserrat";
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  color: #000;
}